.font {
    font-family: 'My First Crush';
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 650px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(187, 139, 139);
    border-radius: 5px;
    margin: 20px auto;
    width: 300px;
    background-color: white;
}

.card-title {
    font-size: 35px;
    margin: 10px auto;
}

.label {
    font-size: 30px;
    margin: 15px auto 10px 30px;
}

.button-label {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.input-field {
    border-radius: 5px;
    margin: 0 30px 15px 30px;
    height: 20px;
}

.input-button {
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    margin: 15px auto 35px auto;
}