.NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid rgb(187, 139, 139);
    border-radius: 5px;
    background-color: white;
    margin: 20px auto 0 auto;
    max-width: 650px;
}

.icon-link {
    margin: 10px auto;
}

.icon {
    width: 80px;
    margin: 0 auto;
}