.list {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 25px auto;
}

.list-item {
    font-size: 25px;
    text-align: center;
}

.add-button {
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto 20px auto;
}

.clear-button {
    font-size: 20px;
    border-radius: 5px;
    width: 100px;
    margin: 10px auto 35px auto;
}